body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
------------------------------------Esto--------------------------------
.menu-bar-container {
    display: flex;
    justify-content: flex-start; 
    margin-right: 380px;
  }
  
  .menu-bar-item{
    margin-right: 40px;
  }
  
  .menu-bar-item:last-child {
    margin-right: 40px;
  }
  
  .nbmenu {
    height: 300px
}
----------------------------Es reemplazado por---------------------------

<div className="flex menu-bar-container gap-12"> en el archivo src/components/NavBarComponent.tsx

Despues de hacer el css, investiguen como pasar los cambios con tailwindcss a los componentes de react así nos ahorramos codigo y se aprende a usar tailwindcss

*/


/*incio del css del footer*/
.footer-bar {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
/*fin del css del footer*/