@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
}

/* scrollbar */

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background: #ffc4c4;
    border-radius: 4px;
}

::-webkit-scrollbar-track{
    background: none;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover{
    background: rgba(rgb(0, 0, 0), 0.1);
    border-radius: 4px;
}
